
// Body
$body-bg: #f8fafc;

// Typography
$font-family-sans-serif: "Nunito", sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

// Colors
$blue: #0f4c75;
$indigo: #6574cd;
$purple: #9561e2;
$pink: #f66D9b;
$red: #fa163f;
$orange: #f6993f;
$yellow: #f77754;
$green: #4BC800;
$teal: #4dc0b5;
$cyan: #6cb2eb;
